# -*- text -*-
#
#  $Id: e16550c9991a5e76a77f349cfa5b82d5163f172e $

#
#  Configuration file for the "redis_ippool" module.
#
redis_ippool {

	#  Expiry time in seconds.
	expire-time = 3600

	ip-key = "%{NAS-Port}"

	max-collision-retry = 10

	get-pool-range = "GET \"%{control:Pool-Name}\""

	# Proposed IP address will store in %{Framed-IP-Address}
	allocate-check = "GET \"%{NAS-IP-Address}_%{Framed-IP-Address}\""
	allocate = "SET \"%{NAS-IP-Address}_%{Framed-IP-Address}\" 1"

	allocate-update = "EXPIRE \"%{NAS-IP-Address}_%{Framed-IP-Address}\" ${expire-time}"

	deallocate = "DEL \"%{NAS-IP-Address}_%{Framed-IP-Address}\""
}

